In [ ]:
#Q1
import scipy.stats as stats

# Parameters of the normal distribution
mean = 45  # Mean
std_dev = 8  # Standard Deviation

# Time limit in minutes
time_limit = 60

# Calculate the z-score (standard score)
z = (time_limit - mean) / std_dev

# Calculate the probability that servicing time exceeds the time limit
probability = 1 - stats.norm.cdf(z)

print(f"The probability that the service manager cannot meet his commitment is {probability:.4f}")

The probability that the service manager cannot meet his commitment is 0.0304

In [ ]:
#Q2
from scipy.stats import norm

In [ ]:
# A. More employees at the processing center are older than 44 than between 38 and 44.

In [ ]:
# p(X>44); Employees older than 44 yrs of age
1-stats.norm.cdf(44,loc=38,scale=6)

0.15865525393145707

In [ ]:
# p(38<X<44); Employees between 38 to 44 yrs of age
stats.norm.cdf(44,38,6)-stats.norm.cdf(38,38,6)

0.3413447460685429

In [ ]:
# B. A training program for employees under the age of 30 at the center would be expected to attract about 36 employees.

In [ ]:
# P(X<30); Employees under 30 yrs of age
stats.norm.cdf(30,38,6)

0.09121121972586788

In [ ]:
# No. of employees attending training program from 400 nos. is N*P(X<30)
400*stats.norm.cdf(30,38,6)

36.484487890347154

In [ ]:
#Q3
#both 2 X1 and X1 + X2follow normal distributions
#They have the same mean

import numpy as np
from scipy.stats import norm

# Define the parameters for X1 and X2
mu = 10  # Mean
sigma = 2  # Standard Deviation

# Create random variables X1 and X2
X1 = norm(loc=mu, scale=sigma)
X2 = norm(loc=mu, scale=sigma)

# Sample values from X1 and X2
x1_samples = X1.rvs(size=10000)  # Sample 10,000 values
x2_samples = X2.rvs(size=10000)

# Define the functions of the random variables
g1 = 2 * x1_samples
g2 = x1_samples + x2_samples

# Calculate the mean and variance for g1 and g2
mean_g1 = np.mean(g1)
variance_g1 = np.var(g1)

mean_g2 = np.mean(g2)
variance_g2 = np.var(g2)

print("For 2X1:")
print("Mean:", mean_g1)
print("Variance:", variance_g1)

print("For X1 + X2:")
print("Mean:", mean_g2)
print("Variance:", variance_g2)

For 2X1:
Mean: 19.955684336799102
Variance: 16.195625655343303
For X1 + X2:
Mean: 19.963860201214782
Variance: 8.055000336368572

In [ ]:
#Q4
from scipy.stats import norm
stats.norm.interval(0.99,100,20)

(48.48341392902199, 151.516586070978)

In [ ]:
#Q5
import numpy as np
from scipy import stats
from scipy.stats import norm

In [ ]:
# Mean profits from two different divisions of a company = Mean1 + Mean2
Mean = 5+7
print('Mean Profit is Rs', Mean*45,'Million')

Mean Profit is Rs 540 Million

In [ ]:
# Variance of profits from two different divisions of a company = SD^2 = SD1^2 + SD2^2
SD = np.sqrt((9)+(16))
print('Standard Deviation is Rs', SD*45, 'Million')

Standard Deviation is Rs 225.0 Million

In [ ]:
# A. Specify a Rupee range (centered on the mean) such that it contains 95% probability for the annual profit of the company.
print('Range is Rs',(stats.norm.interval(0.95,540,225)),'in Millions')

Range is Rs (99.00810347848784, 980.9918965215122) in Millions

In [ ]:
# B. Specify the 5th percentile of profit (in Rupees) for the company
# To compute 5th Percentile, we use the formula X=μ + Zσ; wherein from z table, 5 percentile = -1.645
X= 540+(-1.645)*(225)
print('5th percentile of profit (in Million Rupees) is',np.round(X,))

5th percentile of profit (in Million Rupees) is 170.0

In [ ]:
# C. Which of the two divisions has a larger probability of making a loss in a given year?

In [ ]:
# Probability of Division 1 making a loss P(X<0)
stats.norm.cdf(0,5,3)

0.0477903522728147

In [ ]:
# Probability of Division 2 making a loss P(X<0)
stats.norm.cdf(0,7,4)

0.040059156863817086